$color-level-500: $color-plum-600;
$color-level-1000: $color-plum-300;
$color-level-2000: $color-plum-100;
$color-level-5000: $color-honey-300;

$color-text-500: white;
$color-text-1000: black;
$color-text-2000: black;
$color-text-5000: black;

.map-wrapper {
  position: relative;
  .map {
    display: none;
    @media (min-width: $viewport-lg) {
      display: block;
      margin: 0 auto;
    }
  }
  .map-heading {
    position: relative;
    @include col(4 4 8);
    @media (min-width: $viewport-lg) {
      position: absolute;
    }
    @include type-size(500);
    div {
      @include type-size(400);
    }
  }
}

.state {
  fill: $color-honey-200;
  stroke: $color-plum-700;
  stroke-width: 3px;
  cursor: pointer;
  &.hovered {
    stroke: black;
    stroke-width: 5px;
    z-index: 100;
  }
  &.level-500 {
    fill: $color-level-500;
  }
  &.level-1000 {
    fill: $color-level-1000;
  }
  &.level-2000 {
    fill: $color-level-2000;
  }
  &.level-5000 {
    fill: $color-level-5000;
  }
}

.label {
  @include type-size(300);
  fill: black;
  cursor: pointer;
  &.state-label {
    font-weight: bold;
    @include type-size(400);
  }

  &.text-500 {
    fill: $color-text-500;
  }

  &.text-1000 {
    fill: $color-text-1000;
  }

  &.text-2000 {
    fill: $color-text-2000;
  }

  &.text-5000 {
    fill: $color-text-5000;
  }
}

.state-list {
  @include margin(32, top bottom);
  @media (min-width: $viewport-lg) {
    @include a11y-only();
  }
  .list {
    .state {
      width: 80px;
      height: 80px;
      display: inline-block;
      @include margin(16, right bottom);
      @include padding(8);
      text-align: center;
      a {
        color: white;
        text-decoration: none;
        display: block;
      }
      &.level-500 {
        background: $color-level-500;
        a {
          color: $color-text-500;
        }
      }
      &.level-1000 {
        background: $color-level-1000;
        a {
          color: $color-text-1000;
        }
      }
      &.level-2000 {
        background: $color-level-2000;
        a {
          color: $color-text-2000;
        }
      }
      &.level-5000 {
        background: $color-level-5000;
        a {
          color: $color-text-5000;
        }
      }
      .name {
        @include type-size(400);
      }
    }
  }
}
