$color-level-low: $color-plum-600;
$color-level-medium: white;
$color-level-high: $color-honey-400;

$color-text-low: white;
$color-text-medium: black;
$color-text-high: black;

.map-wrapper {
  position: relative;
  h1 {
    text-align: center;
  }
  .map {
    display: none;
    @media (min-width: $viewport-lg) {
      display: block;
      margin: 0 auto;
    }
  }
  .map-heading {
    position: relative;
    @include col(4 4 8);
    @media (min-width: $viewport-lg) {
      position: absolute;
    }
    @include type-size(500);
    div {
      @include type-size(400);
      @include margin(16, top);
      font-weight: normal;
    }
  }
}

.tooltip {
  fill: $color-plum-200;
  stroke: $color-plum-700;
  stroke-width: 3px;
  width: 150px;
  height: 100px;
}

.state {
  fill: $color-honey-200;
  stroke: $color-plum-700;
  stroke-width: 3px;
  cursor: pointer;
  &.active {
    stroke: black;
    stroke-width: 5px;
    z-index: 100;
  }
  &.level-low {
    fill: $color-level-low;
  }
  &.level-medium {
    fill: $color-level-medium;
  }
  &.level-high {
    fill: $color-level-high;
  }
}

.label {
  @include type-size(300);
  fill: black;
  cursor: pointer;
  &.state-label {
    font-weight: bold;
    @include type-size(400);
  }

  &.text-low {
    fill: $color-text-low;
  }

  &.text-medium {
    fill: $color-text-medium;
  }

  &.text-high {
    fill: $color-text-high;
  }
}

.state-list {
  @include margin(32, top bottom);
  @media (min-width: $viewport-lg) {
    @include a11y-only();
  }
  .list {
    .state {
      width: 80px;
      height: 80px;
      display: inline-block;
      @include margin(8, right bottom);
      @include padding(8);
      text-align: center;
      a {
        color: white;
        text-decoration: none;
        display: block;
      }
      &.level-low {
        background: $color-level-low;
        a {
          color: $color-text-low;
        }
      }
      &.level-medium {
        background: $color-level-medium;
        a {
          color: $color-text-medium;
        }
      }
      &.level-high {
        background: $color-level-high;
        a {
          color: $color-text-high;
        }
      }
      .name {
        @include type-size(400);
      }
    }
  }
}

.legend {
  display: none;
  width: 60%;
  margin: spacer(32) auto;
  @media (min-width: $viewport-lg) {
    @include row();
  }
  .item {
    @include col(4 6 4, 0 0 0, 0 0 4);
    text-align: center;
    .bar {
      height: spacer(8);
      @include margin(8, bottom);
      &.low {
        background: $color-level-low;
      }
      &.medium {
        background: $color-level-medium;
      }
      &.high {
        background: $color-level-high;
      }
    }
  }
}

.toggle {
  margin-top: spacer(16);
  margin-bottom: spacer(32);
  text-align: center;
  button {
    border: 0;
    @include type-size(300);
    @include padding(8);
    cursor: pointer;
    background: $color-plum-800;
    color: white;
    border-radius: none;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
    &:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    &[data-active] {
      color: black;
      background: white;
    }
  }
}
